@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('./assets/background.png');
  background-size: 135%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.header-background {
  position: relative; /* Necessário para o posicionamento absoluto do pseudo-elemento */
  overflow: hidden; /* Garante que o conteúdo não ultrapasse o container */
}

.header-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-repeat: repeat;
  background-size: cover; /* Ajuste se necessário */
  background-position: center; /* Ajuste se necessário */
  opacity: 0.5; /* Define a transparência */
  z-index: -1; /* Garante que o background fique atrás do texto */
}

@media (max-width: 768px) {
  body {
    background-size: cover; /* Garante que a imagem cubra toda a tela em dispositivos móveis */
    background-position: center center; /* Mantém a imagem centralizada */
  }
}

html {
  font-size: 16px; /* Tamanho base para desktops */
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* Tamanho reduzido para dispositivos móveis */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px; /* Tamanho ainda menor para telas muito pequenas */
  }
}
