@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Gotham Condensed', sans-serif;
  background-image: url('./assets/background.png');
  background-size: 135%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.header-background {
  position: relative;
  overflow: hidden;
}

.header-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.no-paragraph-font {
  font-family: sans-serif; /* Ou outra fonte padrão que você desejar */
}


@media (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center top;
  }
}

@media (max-width: 480px) {
  body {
    background-position: center top;
  }
}

html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    background-position: center top;
  }
  html {
    font-size: 12px;
  }
}
